h1 {
    text-align: center;
    margin: 5%;
}

h2 {
    text-align: center;
    margin: 5%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ice {
    margin: 5%;
}
.forest {
    margin: 5%;
}

body {
  background-color: rgb(153, 153, 153);
  font-size: large;
}